.footer-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
}

.footer-left {
   grid-column: 1/2;
   grid-row: 1/2;
}

.footer-right {
    grid-column: 2/3;
    grid-row: 1/2;
}


.logo-container {
    position: relative;
  }
  
  .logo-fg-txt {
    top: 40%;
    left: 0;
    right: 0;
    font-size: 0.5rem;
  }
