
.logo-container {
    position: relative;
  }
  
  .logo-fg-txt {
    top: 40%;
    left: 0;
    right: 0;
    font-size: 0.5rem;
  }
  
  .num-blip-md {
    top: -20%;
    right: -25%;
  }
  
  .nav-links {
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
  }
  
  .nav-links-responsive {
    display: flex;
    justify-content: space-around;
    grid-column: 3/4;
    grid-row: 1/2;
    align-items: center;
    padding: 0.5rem;
  }
  
  @media only screen and (max-width: 992px) {
    .nav-links {
      grid-column: 1/3;
      grid-row: 2/3;
      display: flex;
      justify-content: space-around;
    }
    .nav-links-responsive {
      display: flex;
      justify-content: space-around;
      grid-column: 1/3;
      grid-row: 2/3;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .nav-links {
      display: none;
    }
    .nav-links-responsive {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      grid-column: 1/2;
      grid-row: 3/4;
    }
    .nav-links-responsive a {
      display: flex;
      justify-content: center;
    }
    .nav-links a:active,
    .nav-links a:hover {
      background-color: var(--over);
    }
  }
  
  .nav-search {
    color: var(--over);
  }
  
  .nav-search:focus {
    color: var(--smoke);
  }
  